ETWIN_IN_MEMORY=false

ETWIN_DB_HOST={{ portal.ip}}
ETWIN_DB_PORT=5432
ETWIN_DB_NAME={{ postgres.database }}
ETWIN_DB_USER={{ postgres.username }}
ETWIN_DB_PASSWORD={{ postgres.password }}
ETWIN_SECRET_KEY=dev_secret
ETWIN_HTTP_PORT=50320
ETWIN_EXTERNAL_BASE_URI=http://eternal-twin.net

ETWIN_ETERNALFEST_APP_URI=http://eternal-twin.net
ETWIN_ETERNALFEST_CALLBACK_URI=http://eternal-twin.net/oauth/callback
ETWIN_ETERNALFEST_SECRET=eternalfest_secret

ETWIN_TWINOID_OAUTH_CLIENT_ID=380
ETWIN_TWINOID_OAUTH_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

